<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/LoginCss.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/a0f35c0307.js" crossorigin="anonymous"></script>
        <script src="" defer> </script>
    </head>
    <body>
        <div class="customer" >
            <div>
                <h1>For Customer</h1>
            </div>
            <div>
                <a href="/home">GO</a>
            </div>
        </div>
        <div class="employee">
            <h1>For Employee</h1>
            <form>
                <div class="username">
                    <label for="">Username</label>
                    <input type="text" name="user">
                </div>
                <div class="password">
                    <label for="">Password</label>
                    <input type="text" name="pass" > 
                </div>
            </form>
        </div>
    </body>
</html>