<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/orderemployee">Order From Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addproduct">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/editProduct">Edit Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addemployee">Add employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>