<div class="nav">
    <h1 class="h">M</h1>
    <div class="menu"> 
        <a href="/home">Home</a>
        <a href="/addproduct">Add Product</a> 
        <a href="/editProduct">Edit Product</a> 
        <a href="/addemployee">Add employee</a> 
        <a href="/profile">Profile</a> 
        <a href="/logout">Logout</a>
    </div>
    
</div>