<div class="nav">
    <h1 class="h">M</h1>
    <div class="menu"> 
        <a href="/">Home</a>
        <a href="/addproduct">Add Product</a> 
        <a href="/editProduct">Edit Product</a> 
    </div>
    <button type="button" class="btn"> Order</button>
    
</div>